@font-face {
  font-family: 'Beyno';
  src: url('../../../font/beyno-regular.woff') format('woff'),  url('../../../font/beyno-regular.woff2') format('woff2'),
}

@font-face {
  font-family: 'cantarell';
  src: url('../../../font/cantarell-regular.woff') format('woff'),   url('../../../font/cantarell-regular.woff2') format('woff2')
}

@font-face {
  font-family: 'Wakanda forever';
  src: url('../../../font/wakanda-forever-regular.woff') format('woff'), url('../../../font/wakanda-forever-regular.woff2') format('woff2'),
}
/*--------redimensionne la taille de l'image pantherenigme1---------*/
.okoye img{
  width: 700px;
  position: relative;
  bottom: 110px;

width: 100%;

}


/*----------mise en forme de la premiere section-----------*/
h1{
  font-family: 'Beyno';
  font-size: 36px;
}

.titre{
  display: flex;
  flex-direction: column ;
  gap: 50px;
  width: 45%;
  box-sizing: border-box;
  padding: 40px;
}



.para p{
  position: absolute;
  top: 415px;
  width: 300px;
  right: 200px;
  font-size: 10px;
}

.sphere{
  position: absolute;
  right: 80px;
  top: 300px;
}
  .sphere img {
    
    width: 550px;
}

.first-sec{
  display: flex;
  align-items: center;
  justify-content: center;
}

#question{
  width: 80%;
  margin: 0 auto;
}
.enigme-cit{
  font-family: 'wakanda forever';
  color:#9E91B7
}
span{
  font-family: 'wakanda forever';
}
#response{
  background-color: transparent;
  border:2px solid;
  border-radius: 10px;
  border-color: #9E91B7;

}

