@font-face {
  font-family: 'Beyno';
  src: url('../../../font/beyno-regular.woff') format('woff'),  url('../../../font/beyno-regular.woff2') format('woff2'),
}

@font-face {
  font-family: 'cantarell';
  src: url('../../../font/cantarell-regular.woff') format('woff'),   url('../../../font/cantarell-regular.woff2') format('woff2')
}

@font-face {
  font-family: 'Wakanda forever';
  src: url('../../../font/wakanda-forever-regular.woff') format('woff'), url('../../../font/wakanda-forever-regular.woff2') format('woff2'),
}

*{
  margin: 0;
  padding: 0
}
/*--------mise en forme de l'entete-------*/
#entete{
  width: auto;
}


.wakanda{
  background-image: url(../Illustrations-Logo/Wakanda/Pantherwakanda1.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 200px 0;
  padding-left: 100px;
  
}

h1,h2{
  font-family: 'Beyno';
  color: #9E91B7;
}

h1{
  font-size: 50px;
}

.titre h2{
  font-family: 'wakanda forever';
  font-size: 40px;
  padding-top: 20px;
}

.head{
  display: flex;
  flex-direction: column;
}

.head .descri p{
  width: 30%;
  padding-top: 20px;
}

/*------------mise en forme de la deuxieme section-------*/

#sect2{
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  padding-top: 40px;
}

#sect2 video{
  width: 500px;
  height: 250px;
}

#sect2 img{
  width: 500px;
}

#sect2 h2{
  margin-bottom: 0;
}

#sect2 p{
  margin-top: 0;
}



